.Rproj.user
.Rhistory
.RData
.Ruserdata
.swp
# ignore an entire directory
/worked_examples/output/
README.html
# R package related temporary build files
rpkg/hydroDrought.Rcheck/
rpkg/hydroDrought_*.tar.gz
worked_examples/void/

