.Rproj.user
.Rhistory
.RData
.Ruserdata
.swp
# ignore an entire directory
/worked_examples/output/
README.html
# R package related temporary build files
rpkg/hydroDrought.Rcheck/
rpkg/hydroDrought_*.tar.gz
worked_examples/void/
worked_examples/html/index.html
.~lock.*

cache/
worked_examples/rmarkdown/*_cache/

# all _files$ directories in markdown/
worked_examples/rmarkdown/*._files

worked_examples/word/
worked_examples/html/*.docx

worked_examples/html/tables.Rdata
worked_examples/html/tables.xlsx
worked_examples/rmarkdown/tables.Rdata
worked_examples/rmarkdown/tables.xlsx
worked_examples/tables.Rdata
worked_examples/tables.xlsx
rpkg/hydroDrought/tables.Rdata
rpkg/hydroDrought/tables.xlsx
